<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <h1>Pack Size Calculator Application:</h1>

    <form id="pack-settings-form">
        <table>
            <th>
                <tr>
                    <td>
                        Pack Sizes:
                    </td>
                </tr>
            </th>
            <tbody id="packsizes">
                {{range .PackSizes}}
                <tr>
                    <td><input type="number" name="packsize" value="{{.}}" /></td>
                </tr>
                {{end}}
            </tbody>
            <tr>
                <td><button id="submit-btn" name="submit-btn" type="button">Submit Pack Settings</button></td>
            </tr>
        </table>
    </form>

    <form method="POST" action="/calculate" id="pack-calculate-form">
        <table>
            <th>
                <tr>
                    <td>
                        Enter number to calculate:
                    </td>
                    <td>
                        <input type="number" name="newpacksize" value="" />
                    </td>
                    <td>
                        <button type="button" id="calculate-btn">Calculate packs</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        Size:
                    </td>
                    <td>
                        Num:
                    </td>
                    <td>
                    </td>
                </tr>
            </th>
            <tbody id="calc-result">
               
            </tbody>
        </table>
    </form>

    <script src="/static/index.js">
    </script>
</body>

</html>