<html>

<head>
    <script src="/static/index.js" >
        </script>
</head>

<body>
    <h1>Pack Size Calculator Application:</h1>

    <table>
        <th>
            <tr>
                <td>
                    Pack Sizes:
                </td>
            </tr>

        </th>
        <tbody>
            {{range .PackSizes}}
            <tr>
                <td>{{.}}</td>
            </tr>
            {{end}}
            <tr>
                <td>
                    <input type="number" name="newpacksize" value="" />
                </td>
            </tr>
        </tbody>

    </table>

    <form method="POST" action="/calculate">
        <table>
            <th>
                <tr>
                    <td>
                        Enter number to calculate:
                    </td>
                    <td>
                        <input type="number" name="newpacksize" value="" />
                    </td>
                </tr>
            </th>
            <tbody>
                {{range .Packs}}
                <tr>
                    <td>{{.}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </form>
</body>

</html>



